.home-container {
  padding-left: 10vw;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--neutral);
}

.home-container h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.home-container p {
  width: 400px;
  color: var(--gray);
  margin-bottom: 60px;
}
